<footer>
    <div class="footer-top">
        <div class="footer-logo">zomato</div>
        <p style="color: #aaa; font-size: 14px;">India • UAE • Sri Lanka • Vietnam</p>
    </div>

    <div class="footer-cols">
        <div class="footer-col">
            <h4>About Zomato</h4>
            <ul>
                <li>Who We Are</li>
                <li>Blog</li>
                <li>Work With Us</li>
                <li>Investor Relations</li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>For Restaurants</h4>
            <ul>
                <li>Partner With Us</li>
                <li>Apps For You</li>
                <li>Zomato For Enterprise</li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Learn More</h4>
            <ul>
                <li>Privacy Policy</li>
                <li>Security</li>
                <li>Terms of Service</li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Social Links</h4>
            <ul>
                <li>LinkedIn</li>
                <li>Instagram</li>
                <li>Twitter / X</li>
                <li>Facebook</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2026 © Zomato™ Ltd. All rights reserved.
    </div>
</footer>